header {
  margin-bottom: 1rem;

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}

.title {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 1.5rem /* 24px */;

  span {
    font-weight: 600;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
  }
}

.logo {
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 0.5rem /* 8px */;
}

.github {
  color: black;
}
