// For media() mixin. Detail: https://github.com/eduardoboucas/include-media
@import "include-media";
@import "../utils/mixin.scss";
@import "../utils/variable.scss";

.event-grid {
  // Overlap timetable-grid
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  > div {
    flex: 1;
    position: relative;
    // border: solid black;
  }
}

.event-box {
  position: absolute;
  box-sizing: border-box;
  border: solid blue;
  border-radius: 5px;
  &:hover {
    left: 0 !important;
    width: 100% !important;
  }
}
