$breakpoints: (
  // ~512px
  xs: 32rem,
  // ~768px
  sm: 48rem,
  // ~1024px
  md: 64rem,
  // ~1280px
  lg: 80rem,
  // ~1440px
  xl: 90rem
);

$timetable-height: 25rem;
$min-timetable-height: 15rem;
$min-timetable-cell-width: 6rem;
$min-timetable-timeline-width: 4rem;
$min-timetable-header-height: 2rem;

$border-style: 1px solid lightgray;
