// For media() mixin. Detail: https://github.com/eduardoboucas/include-media
@import "include-media";
@import "./mixin.scss";
@import "./global.scss";

.timetable {
  display: grid;
  resize: vertical;
  min-height: $min-timetable-height;
  height: $timetable-height;
  overflow: auto;
  // Reset grid to hide timeline
  grid-template-columns: 1fr;
  // Add margin and timeline on medium screen and up
  @include media(">=md") {
    margin: 1rem;
    grid-template-columns: $min-timetable-timeline-width 1fr;
  }
}

.timetable-header {
  @include media(">=md") {
    // Skip top left corner cell
    grid-column: 2;
  }
  display: flex;
  position: sticky;
  // Prevent timetable-body to overlap when scrolling
  z-index: 1;
  top: 0;
  height: $min-timetable-header-height;
  background-color: white;

  > div {
    @include flex-center;
    flex: 1;
    min-width: $min-timetable-cell-width;
    border: $border-style;
    border-right: 0;
    border-top: 0;
    &:first-of-type {
      border-left: 0;
    }
  }
}

.timetable-body {
  position: relative;
}

.timetable-grid {
  display: flex;
  // Fill grid with columns
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: $border-style;
    &:first-of-type {
      border-left: 0;
    }
    // Fill column with cells
    > div {
      flex: 1;
      border-bottom: $border-style;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

.timeline {
  // Hide timeline on small screen
  @include media("<md") {
    display: none;
  }
  display: flex;
  flex-direction: column;
  top: -0.75rem;
  position: relative;
  // Cell
  > div {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.event-grid {
  // Overlap timetable-grid
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  > div {
    flex: 1;
    position: relative;
    // border: solid black;
  }
}